Repository JuliaManifolds/Manifolds.jl, pull requests merged in 2020-10, with the labels that each got.

#229 Caley Retraction
  docs/src/manifolds/stiefel.md
  src/Manifolds.jl
  src/manifolds/Stiefel.jl
  test/stiefel.jl
Labels: Ready-for-Review, preview docs

#234 Move formatter config to configuration file
  .JuliaFormatter.toml
  .github/workflows/format.yml
Labels: Ready-for-Review

#237 Introduce a basis for tangent spaces of Stiefel
  Project.toml
  docs/src/misc/internals.md
  src/manifolds/Stiefel.jl
  src/utils.jl
  test/stiefel.jl
Labels: preview docs

#239 Vector space manifold
  docs/src/manifolds/vector_bundle.md
  src/manifolds/VectorBundle.jl
  test/runtests.jl
  test/vector_bundle.jl
Labels: preview docs

#236 Hyperbolic ONBs
  Project.toml
  src/Manifolds.jl
  src/manifolds/HyperbolicHyperboloid.jl
  test/hyperbolic.jl
Labels: discussion
